/* common/utilities */
body{
    font-family: 'Poppins', sans-serif;
   
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /*-------------------
     header style
     ----------- */
     .first-container{
         display: flex;
         justify-content:space-around;
     }
     nav a{
         text-decoration: none;
         color:black;
         margin-right: 10px;
     }
    
    
/*------------------
 first section style of menu
-------------------- */


.second-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    
  
}
.influencer-detail{
    width: 582px;
    height: 270px;
    margin-left:30px; 
    margin-top: 120px;
}
.influencer-camera{
    width: 440px;
height: 414px;
margin-left:150px;
margin-bottom:30px;
transition: transform 2s;
}
.influencer-camera:hover{
    transform: rotate(60deg);
}
.influencer-detail .anchor{
    background-color:tomato;
    padding:10px 20px;
    border-radius: 20px;
}
.influencer-detail .anchor a{
    text-decoration: none;
    color:#ffffff;
    font size:30px;
}
.influencer-detail .anchor .fas.fa-arrow-right{
    color: #ffffff;
    font-size:12px;
    margin-left: 10px;
}
/*-----------------
 second section style of menu
 ------------------ */
 .section-title{
     display:flex;
     justify-content: center; 
 }
 .theird-container{
    
     margin-top: 70px;
     /* background-color: orchid; */
 }
 .second-container .section-title{
     margin:0 auto;
 }
 /* collection style */
 .collections{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 30px;
     grid-column-gap: 20px;
     margin-top: 20px;
 }
 .collection{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 10px;
 }
 .collection .collection-banner img{
    width: 300px;
    height: 256px;
 }
 .fa-star.filled,.fa-star-half-alt.filled{
     color:orange;
 }
 .collection-span{
     margin-left: 10px;
 }
 .collection-button{
     display:flex;
     justify-content: flex-end;
     margin-right:5px;
     margin-top: 20px;
    
 }
 .collection-button a{
     text-decoration: none;
     color:#E02C6D;
     font-size: 20px;

 }
 .collection-button .fa-arrow-right.right-arrow{
     margin-left: 10px;
     color:#E02C6D;

 }
 /* theird section of menu */
 .fourth-container{
     margin-top: 20px;
 }
 .box-container{
     display: flex;
     align-items: stretch;
    
     height: 300px;
     width: 1100px;
     
 }
 .box{
     
     width: 200px;
     border: 2px solid slategray;
 }
 .box-container{
     border: 2px solid green;
 }
 #box-1 .attention{
 padding-left:10px;
 }
 #box-2{
     flex-grow: 1;
     
 }
 #box-2 form{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 /*-----------
  footer-part
 -----------*/
 .footer-style{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color:black;
     margin-top: 10px;
 }
 .footer-font{
     color:white;
 }
 .footer-font .font-margin{
     margin-left: 20px;
 }

 /* media query use on mobile display */

 @media only screen and (max-width:688px) {
     .first-container .section-heading{
         margin-left:100px;
     }
     .second-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      
     }
     .second-container .influencer-detail{
        width: 300px;
        height: 400px;
        margin-left: 150px;
     }
     .collections{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin-left: 50px;
         
     }
     .box-container{
         height: 500px;
         width: 300px;
         
     }
     
 }
 /* media query use on ipad devices */

 @media only screen and (min-width:688px) and (max-width:992px) {
     .first-container{
         margin-left: 150px;
     }
    .second-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
       }
       .second-container .influencer-detail{
          width: 300px;
          height: 400px;
          margin-left:100px;
       }
       .collections{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-left: 250px;
    }
        .box-container{
            height: 500px;
            width: 600px;
            margin-left: 200px;
            
        }
        .footer-style{
            margin-left: 200px;
        }
 }